.navigation-container {
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;

        li {
            padding: 10px;
            a {
                color: white;                
            }
        }
    }
}